---
import { Image } from '@astrojs/image/components'
import { Sprite } from 'astro-icon'

import JSFiddleCard from '../components/JSFiddleCard.astro'
import Layout from '../layouts/Layout.astro'

import * as JSFiddleThree from '../jsfiddle/three'
import * as JSFiddleThreePBR from '../jsfiddle/three-physical'
import * as JSFiddleThreeVRM from '../jsfiddle/three-vrm'
---

<Layout title="New Project">
	<main class="px-6 py-12">
		<h1 class="mb-20 text-2xl font-mono mix-blend-overlay"><b>hey matt,</b><br /><small>what would you like to create?</small></h1>
		<h2 class="font-bold mb-10 text-2xl flex gap-2">
			<Image class="rounded border border-black/50 w-8 h-8" alt="JSFiddle Logo" src="/logos/jsfiddle.png" width={64} height={64} />
			JSFiddle
		</h2>
		<section class="flex gap-6 flex-wrap">
			<JSFiddleCard template={JSFiddleThree} title="three.js">
				<Sprite slot="thumbnail" name="threejs" />
			</JSFiddleCard>
			<JSFiddleCard template={JSFiddleThreePBR} title="three.js physical">
				<Sprite slot="thumbnail" name="threejs" />
			</JSFiddleCard>
			<JSFiddleCard template={JSFiddleThreeVRM} title="three.js vrm">
				<Sprite slot="thumbnail" name="threejs" />
			</JSFiddleCard>
		</section>
	</main>
</Layout>
