---
import * as JSFiddleThree from '../jsfiddle/three'
import Layout from '../layouts/Layout.astro'
---

<Layout title="New Project">
	<main class="bg-indigo-200 h-screen px-6 py-12">
		<h2 class="font-bold mb-10 text-2xl">JSFiddle</h2>
		<form method="post" action="https://jsfiddle.net/api/post/library/pure/" target="_blank">
			<input type="hidden" name="html" value={JSFiddleThree.html} />
			<input type="hidden" name="css" value={JSFiddleThree.css} />
			<input type="hidden" name="js" value={JSFiddleThree.js} />
			<button class="bg-indigo-700 text-white px-2 py-1 font-semibold">Three.js</button>
		</form>
	</main>
</Layout>
