---
export interface Props {
	html: string
	css: string
	js: string
}

const { html, css, js } = Astro.props
---

<form method="post" action="https://jsfiddle.net/api/post/library/pure/" target="_blank">
	<button>
		<input type="hidden" name="html" value={html.trim()} />
		<input type="hidden" name="css" value={css.trim()} />
		<input type="hidden" name="js" value={js.trim()} />
		<slot />
	</button>
</form>
