---
type Props = {
	title: string
}

const { title } = Astro.props
---

<article class="flex items-center gap-2 overflow-hidden rounded border border-black bg-white">
	<div class="flex h-8 w-8 justify-stretch bg-white [&>*]:flex-1">
		<slot name="thumbnail" />
	</div>
	<header class="text-sm font-medium">{title}</header>
</article>
